<nav class="navbar-container">
  <a mat-button routerLink="/dashboard" routerLinkActive="active-link">
    <mat-icon>dashboard</mat-icon>
    <span>Dashboard</span>
  </a>

  <a mat-button routerLink="/medicaments" routerLinkActive="active-link">
    <mat-icon>medication</mat-icon>
    <span>Médicaments</span>
  </a>

  <a mat-button routerLink="/settings" routerLinkActive="active-link">
    <mat-icon>settings</mat-icon>
    <span>Paramètres</span>
  </a>
</nav>
<a mat-list-item routerLink="/parametres" routerLinkActive="active-link">
  <mat-icon>settings</mat-icon>
  <span>Paramètres</span>
</a>